**Assignment 3 , Q4**
Hypothesis Testing

In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv("Costomer+OrderForm.csv")

In [3]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
stats.chisquare([30,33,31,21],f_exp=None,ddof=0,axis=0)

Power_divergenceResult(statistic=2.9478260869565216, pvalue=0.3997395169356619)